<div class='nested-fields'>

  <div class="field">
    <%= f.label :product_id, "Product:" %>
    <%= f.collection_select :product_id, Product.all, :id, :product_name%>
  </div>

  <div class="field">
    <%= f.label :product_id, "Cost:" %>
    <%= f.collection_select :product_id, Product.all, :id, :product_cost%>
  </div>

  <div class="field">
    <%= f.label :product_quantity, "Quantity:" %>
    <%= f.number_field :product_quantity %>
  </div>

  <div class="field">
    <%= f.label :product_cost_total, "Total Cost:" %>
    <%= f.hidden_field :product_orders_id, value: @total_product_cost %>
  </div>


  <%= link_to_remove_association "Remove Product", f%>
</div>