<p id="notice"><%= notice %></p>

<p>
  <strong>Service cost total:</strong>
  <%= sanitize @service_order.service_cost_total.html_safe %>
</p>

<p>
  <strong>Stlservice:</strong>
  <%= sanitize @service_order.stlservice_id %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= sanitize @service_order.invoice_id %>
</p>

<%= link_to 'Edit', edit_service_order_path(@service_order) %> |
<%= link_to 'Back', service_orders_path %>
