<p id="notice"><%= notice %></p>

<div class="subpage_header">
<h1>Chemicals</h1>
</div>

<table>
  <thead>
    <tr>
      <th><%= sort_link @search, :product_name, "Name" %></th>
      <th><%= sort_link @search, :product_description, "Description" %></th>
      <th><%= sort_link @search, :product_cost, "Cost/Gallon" %></th>
      <th><%= sort_link @search, :category, "Category" %></th>
      <th><%= sort_link @search, :status, "Status" %></th>
      <th><%= sort_link @search, :date_modified, "Date Modified" %></th>
      <th><%= sort_link @search, :supplier_name, "Supplier" %></th>
    </tr>
  </thead>

  <tbody>
    <% @chemicals.each do |chemical| %>
      <tr>
        <td><%= sanitize chemical.product_name.html_safe %></td>
        <td><%= sanitize chemical.product_description.html_safe %></td>
        <td><%= sanitize number_to_currency(chemical.product_cost).html_safe %></td>
        <td><%= sanitize chemical.prodcategory.category.html_safe %></td>
        <td><%= sanitize chemical.prodstatus.status.html_safe %></td>
        <td><%= sanitize chemical.date_modified.strftime("%B %-d, %Y").html_safe %></td>
        <td><%= sanitize chemical.supplier.supplier_name.html_safe %></td>
        <td><%= link_to 'Details', chemical_path(chemical) %></td>
        <td><%= link_to 'Edit', edit_chemical_path(chemical) %></td>
        <td><%= link_to 'Delete', chemical, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chemical', new_chemical_path %>
