<%= stylesheet_link_tag  "stlclients", :media => "all" %>

<%= form_with(model: stlclient, local: true) do |form| %>
  <% if stlclient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stlclient.errors.count, "error") %> prohibited this Client from being saved:</h2>

      <ul>
        <% stlclient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container-md border border-primary pt-2 float-left rounded">
  <div class="p-2">
    <div class="field pt-2">
      <%= form.label :client_fname, 'First Name:' %>
      <%= form.text_field :client_fname, maxlength: 30, :required => true %>
    </div>

    <div class="field pt-2">
      <%= form.label :client_lname, 'Last Name:' %>
      <%= form.text_field :client_lname, maxlength: 30, :required => true %>
    </div>

    <div class="field pt-2">
      <%= form.label :client_email, 'Email:' %>
      <%= form.email_field :client_email, autofocus: true, autocomplete: "email", maxlength: 125, size: 30, :required => true %>
    </div>

    <div class="field pt-2">
      <%= form.label :client_phonenumber, 'Phone Number:' %>
      <%= form.telephone_field :client_phonenumber , autofocus: true, placeholder: 'XXX-XXX-XXXX', pattern: "[0-9]{3}-[0-9]{3}-[0-9]{4}", maxlength: 12, :required => true %>
    </div>

    <div class="field pt-2">
      <%= form.label :client_companyname, 'Company Name:' %>
      <%= form.text_field :client_companyname, :required => true %>
    </div>

    <div class="field pt-2">
      <%= form.label :client_shippingaddress, 'Shipping Address:' %>
      <%= form.text_field :client_shippingaddress, :required => true %>
    </div>

    <div class="field pt-2">
      <%= form.label :client_billingaddress, 'Billing Address:' %>
      <%= form.text_field :client_billingaddress, :required => true %>
    </div>

    <div class="field pt-2">
      <%= form.label :employee_id, 'Employee' %>
      <%= form.collection_select :employee_id, Employee.all, :id, :employee_fname, :required => true %>
    </div>

    <div class="actions pt-2">
      <%= form.submit "Save client", :class=>"btn btn-primary" %>
    </div>
  </div>
</div>
<% end %>
