<p id="notice"><%= notice %></p>

<p>
  <strong>Product quantity:</strong>
  <%= sanitize @product_order.product_quantity.html_safe %>
</p>

<p>
  <strong>Product cost total:</strong>
  <%= sanitize @product_order.product_cost_total.html_safe %>
</p>

<p>
  <strong>Product:</strong>
  <%= sanitize @product_order.product.product_name.html_safe %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= sanitize @product_order.invoice_id %>
</p>

<%= link_to 'Edit', edit_product_order_path(@product_order) %> |
<%= link_to 'Back', product_orders_path %>
