<%= stylesheet_link_tag  "transportations", :media => "all" %>

<p class="alert alert-info alert-dismissible fade show"><%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</p>

<nav class="navbar navbar-light" style="background-color: #e3f2fd; padding-top: 0 !important; padding-bottom:0 !important;">
  <%= image_tag("logo/SparrowLogo.png", width: "75", height: "100", class: "navbar-brand d-inline-block align-top", :alt => "Sparrow Tech Logo")%>
  <% if user_signed_in? %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><%= link_to "Home", '/home', method: :get%></li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><p>Hi, <%= current_user.username %></p></li>
      <li class="nav-item"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    </ul>
  <% end %>
</nav>

<h4 class="pt-2 text-center" style="font-family: Georgia, 'Times New Roman', Times, serif;"><strong>Employee</h4></strong>

<div class="container border border-info">
  <p>
    <strong>Name:</strong>
    <%= sanitize @transportation.service_name.html_safe %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sanitize @transportation.service_description.html_safe %>
  </p>

  <p>
    <strong>Cost/Gallon:</strong>
    <%= sanitize number_to_currency @transportation.service_cost %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= sanitize @transportation.servcategory.category.html_safe %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= sanitize @transportation.servstatus.status.html_safe %>
  </p>

  <p>
    <strong>Date Modified:</strong>
    <%= sanitize @transportation.date_modified.strftime("%B %-d, %Y") %>
  </p>

  <p>
    <strong>Supporting Company:</strong>
    <%= @transportation.supporting_company.supportingcomp_name.html_safe %>
  </p>
</div>

<div class="pt-3">
  <button type="button" class="btn btn-secondary ml-5 mr-2"><%= link_to 'Edit', edit_transportation_path(@transportation), :class=>"text-light" %></button>
  <button type="button" class="btn btn-secondary"><%= link_to 'Back', transportations_path, :class=>"text-light" %></button>
</div>
