<%= stylesheet_link_tag  "home", :media => "all" %>

<div class="subpage_header">
<h1>SparrowNav Home</h1>
</div>


<div class = "home_container">
<div id = "home_navbar">
<div id =button1>
<%= button_to "Report", '/report', method: :get%>
</div>

<div id =button2>
<%= button_to "Transportations", '/transportation', method: :get%>
</div>

<div id =button3>
<%= button_to "Chemicals", '/chemical', method: :get%>
</div>

<div id =button4>
<%= button_to "Products", '/product', method: :get%>
</div>

<div id =button5>
<%= button_to "Employees", '/employee', method: :get%>
</div>

<div id =button6>
<%= button_to "Clients", '/stlclient', method: :get%>
</div>

<div id =button7>
<%= button_to "Supporting Companies", '/supporting', method: :get%>
</div>

<div id =button8>
<%= button_to "Suppliers", '/supplier', method: :get%>
</div>
</div>

