<%= stylesheet_link_tag  "transportations", :media => "all" %>

<%= form_with(model: transportation, local: true) do |form| %>
  <% if transportation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transportation.errors.count, "error") %> prohibited this transportation from being saved:</h2>

      <ul>
        <% transportation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container-md border border-primary pt-2 float-left rounded">
  <div class="p-2">
    <div class="field pt-2">
      <%= form.label :service_name, "Name: " %>
      <%= form.text_field :service_name %>
    </div>

    <div class="field pt-2">
      <%= form.label :service_description, "Description: " %>
      <%= form.text_area :service_description %>
    </div>

    <div class="field pt-2">
      <%= form.label :service_cost, "Cost: " %>
      <%= form.text_field :service_cost %>
    </div>

  <div class="field pt-2">
    <%= form.label :servcategory_id, "Category: " %>
    <%= form.collection_select :servcategory_id, Servcategory.where("category = 'Transportation'"), :id, :category, :required => true  %>
  </div>

  <div class="field pt-2">
    <%= form.label :servstatus_id, "Status " %>
    <%= form.collection_select :servstatus_id, Servstatus.all, :id, :status, :required => true  %>
  </div>

  <div class="field pt-2">
    <%= form.label :date_modified, "Date Modified: " %>
    <%= form.date_select :date_modified, :required => true %>
  </div>

  <div class="field pt-2">
    <%= form.label :supporting_company_id %>
    <%= form.collection_select :supporting_company_id, SupportingCompany.all, :id, :supportingcomp_name, :required => true  %>
  </div>
  <div class="actions pt-2">
    <%= form.submit "Save transportation", :class=>"btn btn-primary" %>
  </div>
</div>
<% end %>
