<%= stylesheet_link_tag "transportations", :media => "all" %>

<p id="notice"><%= notice %></p>

<div class="transport_header">
<h1>Transportations</h1>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Cost/Mile</th>
      <th>Category</th>
      <th>Status</th>
      <th>Date Modified</th>
      <th>Supporting Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transportation.stlservice.each do |transportation| %>
      <tr>
        <td><%= transportation.stlservice.service_name %></td>
        <td><%= transportation.stlservice.service_description %></td>
        <td><%= number_to_currency transportation.stlservice.service_cost %></td>
        <td><%= transportation.stlservice.servcategory.category %></td>
        <td><%= transportation.stlservice.servstatus.status %></td>
        <td><%= transportation.stlservice.date_modified %></td>
        <td><%= transportation.stlservice.supporting_company.supportingcomp_name %></td>
        <td><%= link_to 'Details', transportation %></td>
        <td><%= link_to 'Edit', edit_transportation_path(transportation) %></td>
        <td><%= link_to 'Delete', transportation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


