<p id="notice"><%= notice %></p>

<div class="subpage_header">
<h1>Transportations</h1>
</div>

<table>
  <thead>
    <tr>
      <th><%= sortable "service_name", "Name"%></th>
      <th>Service description</th>
      <th>Service cost</th>
      <th>Servcategory</th>
      <th>Servstatus</th>
      <th>Date modified</th>
      <th>Supporting company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transportations.each do |transportation| %>
      <tr>
        <td><%= transportation.service_name %></td>
        <td><%= transportation.service_description %></td>
        <td><%= number_to_currency transportation.service_cost %></td>
        <td><%= transportation.servcategory.category %></td>
        <td><%= transportation.servstatus.status %></td>
        <td><%= transportation.date_modified %></td>
        <td><%= transportation.supporting_company_id %></td>
        <td><%= link_to 'Show', transportation %></td>
        <td><%= link_to 'Edit', edit_transportation_path(transportation) %></td>
        <td><%= link_to 'Destroy', transportation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transportation', new_transportation_path %>
