<div class='nested-fields'>

  <div class="field">
    <%= f.label :payment_address %>
    <%= f.text_area :payment_address, :required => true %>
  </div>

  <div class="field">
    <%= f.label :account_name %>
    <%= f.text_field :account_name, :required => true %>
  </div>

  <div class="field">
    <%= f.label :account_number %>
    <%= f.number_field :account_number, placeholder: 'Last-4-Digits', pattern: "[0-9]{4}", :required => true %>
  </div>

  <div class="field">
    <%= f.label :routing_number %>
    <%= f.number_field :routing_number, placeholder: 'Last-4-Digits', pattern: "[0-9]{4}", :required => true %>
  </div>

  <%= link_to_remove_association "Remove Payment Information", f %>
</div>