<p id="notice"><%= notice %></p>

<h2>Supplier</h2>

<p>
  <strong>Name:</strong>
  <%= sanitize @supplier.supplier_name.html_safe %>
</p>

<p>
  <strong>Email:</strong>
  <%= sanitize @supplier.supplier_email.html_safe %>
</p>

<p>
  <strong>Product:</strong>
  <%= sanitize @supplier.product.product_name.html_safe %>
</p>

<p>
  <strong>Payment Info:</strong>
  <%= sanitize @supplier.supplierpaymentinfo.account_name.html_safe %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
