<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% invoice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_updated %>
    <%= form.date_select :date_updated %>
  </div>

  <div class="field">
    <%= form.label :invstatus_id, 'Invoice Status' %>
    <%= form.collection_select :invstatus_id, Invstatus.all, :id, :status %>
  </div>

  <div class="field">
    <%= form.label :stlclient_id, 'Client' %>
    <%= form.collection_select :stlclient_id, Stlclient.all, :id, :client_fname %>
  </div>

  <h3>Product Orders</h3>
  <div id='product_orders'>
    <%= form.fields_for :product_orders do |product_order| %>
      <%= render 'product_order_fields', :f => product_order %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add a Product', form, :product_orders %>
    </div>
  </div>

  <h3>Service Orders</h3>
  <div id='service_orders'>
    <%= form.fields_for :service_orders do |service_order| %>
      <%= render 'service_order_fields', :f => service_order %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add a Service', form, :service_orders %>
    </div>
  </div>

  <h3>Notes</h3>
  <div id='notes'>
    <%= form.fields_for :notes do |note| %>
      <%= render 'note_fields', :f => note %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add a Note', form, :notes %>
    </div>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
