<div class='nested-fields'>

  <div class="field">
    <%= f.label :product_id, "Product:" %>
    <%= f.collection_select :product_id, Product.all, :id, :product_name, :required => true %>
  </div>


  <div class="field">
    <%= f.label :product_quantity, "Quantity:" %>
    <%= f.number_field :product_quantity, :required => true %>
  </div>

  <%= link_to_remove_association "Remove Product", f%>
</div>