<%= form_with(model: supplierpaymentinfo, local: true) do |form| %>
  <% if supplierpaymentinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supplierpaymentinfo.errors.count, "error") %> prohibited this supplierpaymentinfo from being saved:</h2>

      <ul>
        <% supplierpaymentinfo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :payment_address %>
    <%= form.text_area :payment_address, :required => true %>
  </div>

  <div class="field">
    <%= form.label :account_name %>
    <%= form.text_field :account_name, :required => true %>
  </div>

  <div class="field">
    <%= form.label :account_number %>
    <%= form.number_field :account_number, :required => true %>
  </div>

  <div class="field">
    <%= form.label :routing_number %>
    <%= form.number_field :routing_number, :required => true %>
  </div>

  <div class="field">
    <%= form.label :aba_number %>
    <%= form.number_field :aba_number, :required => true %>
  </div>

  <div class="field">
    <%= form.label :swift_code %>
    <%= form.text_field :swift_code, :required => true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
