<p id="notice"><%= notice %></p>

<p>
  <strong>Payment address:</strong>
  <%= sanitize @supplierpaymentinfo.payment_address %>
</p>

<p>
  <strong>Account name:</strong>
  <%= sanitize @supplierpaymentinfo.account_name %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @supplierpaymentinfo.account_number %>
</p>

<p>
  <strong>Routing number:</strong>
  <%= @supplierpaymentinfo.routing_number %>
</p>

<p>
  <strong>Aba number:</strong>
  <%= @supplierpaymentinfo.aba_number %>
</p>

<p>
  <strong>Swift code:</strong>
  <%= sanitize @supplierpaymentinfo.swift_code %>
</p>

<%= link_to 'Edit', edit_supplierpaymentinfo_path(@supplierpaymentinfo) %> |
<%= link_to 'Back', supplierpaymentinfos_path %>
