<%= form_with(model: scpaymentinfo, local: true) do |form| %>
  <% if scpaymentinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scpaymentinfo.errors.count, "error") %> prohibited this scpaymentinfo from being saved:</h2>

      <ul>
        <% scpaymentinfo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :payment_address %>
    <%= form.text_area :payment_address %>
  </div>

  <div class="field">
    <%= form.label :account_name %>
    <%= form.text_field :account_name %>
  </div>

  <div class="field">
    <%= form.label :account_number %>
    <%= form.number_field :account_number %>
  </div>

  <div class="field">
    <%= form.label :routing_number %>
    <%= form.number_field :routing_number %>
  </div>

  <div class="field">
    <%= form.label :aba_number %>
    <%= form.number_field :aba_number %>
  </div>

  <div class="field">
    <%= form.label :swift_code %>
    <%= form.text_field :swift_code %>
  </div>

  <div class="field">
    <%= form.label :supporting_company_id %>
    <%= form.text_field :supporting_company_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
