<p id="notice"><%= notice %></p>

<h1>Scpaymentinfos</h1>

<table>
  <thead>
    <tr>
      <th>Payment address</th>
      <th>Account name</th>
      <th>Account number</th>
      <th>Routing number</th>
      <th>Aba number</th>
      <th>Swift code</th>
      <th>Supporting Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scpaymentinfos.each do |scpaymentinfo| %>
      <tr>
        <td><%= scpaymentinfo.payment_address %></td>
        <td><%= scpaymentinfo.account_name %></td>
        <td><%= scpaymentinfo.account_number %></td>
        <td><%= scpaymentinfo.routing_number %></td>
        <td><%= scpaymentinfo.aba_number %></td>
        <td><%= scpaymentinfo.swift_code %></td>
        <td><%= scpaymentinfo.supporting_company_id %></td>
        <td><%= link_to 'Show', scpaymentinfo %></td>
        <td><%= link_to 'Edit', edit_scpaymentinfo_path(scpaymentinfo) %></td>
        <td><%= link_to 'Destroy', scpaymentinfo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scpaymentinfo', new_scpaymentinfo_path %>
