<p id="notice"><%= notice %></p>

<p>
  <strong>Product quantity:</strong>
  <%= @product_order.product_quantity %>
</p>

<p>
  <strong>Product cost total:</strong>
  <%= @product_order.product_cost_total %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product_order.product_id %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @product_order.invoice_id %>
</p>

<%= link_to 'Edit', edit_product_order_path(@product_order) %> |
<%= link_to 'Back', product_orders_path %>
