<%= stylesheet_link_tag  "products", :media => "all" %>

<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this Product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container-md border border-primary pt-2 float-left rounded">
  <div class="p-2">
    <div class="field pt-2">
      <%= form.label :product_name, 'Name:' %>
      <%= form.text_field :product_name, maxlength: 30, size: 20, :required => true %>
    </div>

    <div class="field pt-2">
      <%= form.label :product_description, 'Description:' %>
      <%= form.text_area :product_description, maxlength: 140, :required => true %>
    </div>

    <div class="field pt-2">
      <%= form.label :product_cost, 'Cost:' %>
      <%= form.text_field :product_cost, min: 0, :required => true %>
    </div>

    <div class="field pt-2">
      <%= form.label :prodcategory_id, 'Category:' %>
      <%= form.collection_select :prodcategory_id, Prodcategory.all, :id, :category, :required => true %>
    </div>

    <div class="field pt-2">
      <%= form.label :prodstatus_id, 'Status:' %>
      <%= form.collection_select :prodstatus_id, Prodstatus.all, :id, :status , :required => true%>
    </div>

    <div class="field pt-2">
      <%= form.label :date_modified, 'Date Modified:' %>
      <%= form.date_select :date_modified, :required => true %>
    </div>

    <div class="d-flex p-2">
      <div class="actions">
        <%= form.submit "Save product", :class=>"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<% end %>
