<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_name, 'Name:' %>
    <%= form.text_field :product_name %>
  </div>

  <div class="field">
    <%= form.label :product_description, 'Description:' %>
    <%= form.text_area :product_description %>
  </div>

  <div class="field">
    <%= form.label :product_cost, 'Cost:' %>
    <%= form.text_field :product_cost %>
  </div>

  <div class="field">
    <%= form.label :prodcategory_id, 'Category:' %>
    <%= form.collection_select :prodcategory_id, Prodcategory.all, :id, :category %>
  </div>

  <div class="field">
    <%= form.label :prodstatus_id, 'Status:' %>
    <%= form.collection_select :prodstatus_id, Prodstatus.all, :id, :status%>
  </div>

  <div class="field">
    <%= form.label :date_modified, 'Date Modified' %>
    <%= form.date_select :date_modified %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
