<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Cost</th>
      <th>Category</th>
      <th>Status</th>
      <th>Date Modified</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.product_name %></td>
        <td><%= product.product_description %></td>
        <td><%= number_to_currency(product.product_cost) %></td>
        <td><%= product.prodcategory.category %></td>
        <td><%= product.prodstatus.status %></td>
        <td><%= product.date_modified.strftime("%B %-d, %Y") %></td>
        <td><%= link_to 'Details', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
