<p id="notice"><%= notice %></p>

<h2>Product</h2>

<p>
  <strong>Name:</strong>
  <%= sanitize @product.product_name.html_safe %>
</p>

<p>
  <strong>Description:</strong>
  <%= sanitize @product.product_description.html_safe %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @product.product_cost %>
</p>

<p>
  <strong>Category:</strong>
  <%= sanitize @product.prodcategory.category %>
</p>

<p>
  <strong>Status:</strong>
  <%= sanitize @product.prodstatus.status %>
</p>

<p>
  <strong>Date Modified:</strong>
  <%= @product.date_modified %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
