<p id="notice"><%= notice %></p>

<p>
    <strong>Product Name:</strong>
    <%= @product.product_name %>
</p>

<p>
    <strong>Product Description:</strong>
    <%= @product.product_description %>
</p>

<p>
    <strong>Product Cost:</strong>
    <%= @product.product_cost %>
</p>

<p>
    <strong>Product Category:</strong>
    <%= @product.product_category %>
</p>

<p>
    <strong>Product Status:</strong>
    <%= @product.product_status %>
</p>

<p>
    <strong>Date Modified:</strong>
    <%= @product.date_modified %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>