<%= form_with(model: prodcategory, local: true) do |form| %>
  <% if prodcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prodcategory.errors.count, "error") %> prohibited this prodcategory from being saved:</h2>

      <ul>
        <% prodcategory.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, :required => true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
