<p id="notice"><%= notice %></p>

<h1>Prod Categories</h1>

<table>
  <thead>
    <tr>
      <th>Prod category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prod_categories.each do |prod_category| %>
      <tr>
        <td><%= prod_category.prod_category %></td>
        <td><%= link_to 'Show', prod_category %></td>
        <td><%= link_to 'Edit', edit_prod_category_path(prod_category) %></td>
        <td><%= link_to 'Destroy', prod_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prod Category', new_prod_category_path %>
