<%= stylesheet_link_tag  "chemicals", :media => "all" %>

<!-- Navbar for web app -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd; padding-top: 0 !important; padding-bottom:0 !important;">
  <%= image_tag("logo/SparrowLogo.png", width: "100", height: "150", class: "navbar-brand d-inline-block align-top", :alt => "Sparrow Tech Logo")%>
  <% if user_signed_in? %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><%= link_to "Home", '/home', method: :get%></li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><p>Hi, <%= current_user.username %></p></li>
      <li class="nav-item"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    </ul>
  <% end %>
</nav>

<h3 class="display-4 text-center pt-1"><strong>Chemicals</strong></h3>
<div class="pt-2 card">
  <div class="card-body">
    <%= search_form_for @search do |f|%>

      <div class="field">
        <%=f.label :product_name_cont, "Name contains:" %>
        <%=f.text_field :product_name_cont %>
      </div>

      <div class="field">
        Cost between:
        <% f.label :product_cost_gteq, "Cost between:" %>
        <%=f.text_field :product_cost_gteq %>
        <%=f.label :product_cost_lteq, "and" %>
        <%=f.text_field :product_cost_lteq %>
      </div>

      <div class="field">
        <%=f.label :prodstatus_status_cont, "Status contains:" %>
        <%=f.text_field :prodstatus_status_cont %>
      </div>

      <div class="field">
        <%=f.label :supplier_supplier_name_cont, "Supplier contains:" %>
        <%=f.text_field :supplier_supplier_name_cont %>
      </div>

      <div class="actions"><%=f.submit "Search" %></div>
    <%end %>
    </div>
</div>

<table class="table table-striped table-bordered table-sm">
  <thead class ="thead-light">
    <tr>
      <th><%= sort_link @search, :product_name, "Name" %></th>
      <th><%= sort_link @search, :product_description, "Description" %></th>
      <th><%= sort_link @search, :product_cost, "Cost/Gallon" %></th>
      <th><%= sort_link @search, :prodcategory_category, "Category" %></th>
      <th><%= sort_link @search, :prodstatus_status, "Status" %></th>
      <th><%= sort_link @search, :date_modified, "Date Modified" %></th>
      <th><%= sort_link @search, :supplier_supplier_name, "Supplier" %></th>
    </tr>
  </thead>

  <tbody>
    <% @chemicals.each do |chemical| %>
      <tr>
        <td><%= sanitize chemical.product_name.html_safe %></td>
        <td><%= sanitize chemical.product_description.html_safe %></td>
        <td><%= sanitize number_to_currency(chemical.product_cost).html_safe %></td>
        <td><%= sanitize chemical.prodcategory.category.html_safe %></td>
        <td><%= sanitize chemical.prodstatus.status.html_safe %></td>
        <td><%= sanitize chemical.date_modified.strftime("%B %-d, %Y").html_safe %></td>
        <td><%= sanitize chemical.supplier.supplier_name.html_safe %></td>
        <td><%= link_to 'Details', chemical_path(chemical) %></td>
        <td><%= link_to 'Edit', edit_chemical_path(chemical) %></td>
        <td><%= link_to 'Delete', chemical, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="submit" class="btn btn-primary"><%= link_to 'New Chemical', new_chemical_path, :class=>"text-light" %></button>
