<!DOCTYPE html>
<html>

<head>
    <title>SparrowNav</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <header>
        <header>
            <nav>
                <div>
                <%= image_tag("logo/logo.jpg", width: '80px', height: '60px')%>
                    <% if user_signed_in? %>
                    <%= current_user.username %>
                    <%= link_to "Home", '/home', method: :get%>
                    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                    <% else %>
                    <%= link_to "Login", new_user_session_path %>
                    <%# <%= link_to "Sign Up", new_user_registration_path %>
                    <% end %>
                </div>
            </nav>
        </header>
        <main>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <%= yield %>
        </main>
</body>

</html>