<%= stylesheet_link_tag  "chemicals", :media => "all" %>


<div class="card-header">
  <div  class="d-inline-block center-block"><%= wicked_pdf_image_tag("logo/SparrowLogo.png", width: "100", height: "150", :alt => "Sparrow Tech Logo")%></div>
  <div class="float-right text-danger"><h4><strong>Chemical Catalogue <%=Time.now.strftime("%m/%d/%Y") %></strong></h4></div>
</div>

<div class="pt-3">
  <table class="table table-striped table-bordered table-sm">
    <thead class ="thead-light">
    <tr>
      <th><%= sort_link @search, :product_name, "Name" %></th>
      <th><%= sort_link @search, :product_description, "Description" %></th>
      <th><%= sort_link @search, :product_cost, "Cost/Gallon" %></th>
      <th><%= sort_link @search, :prodcategory_category, "Category" %></th>
      <th><%= sort_link @search, :prodstatus_status, "Status" %></th>
      <th><%= sort_link @search, :date_modified, "Date Modified" %></th>
      <th><%= sort_link @search, :supplier_supplier_name, "Supplier" %></th>
      <th colspan=3></th>
    </tr>
    </thead>

    <tbody>
    <% @chemicals.each do |chemical| %>
      <tr>
        <td><%= sanitize chemical.product_name.html_safe %></td>
        <td><%= sanitize chemical.product_description.html_safe %></td>
        <td><%= sanitize number_to_currency(chemical.product_cost).html_safe %></td>
        <td><%= sanitize chemical.prodcategory.category.html_safe %></td>
        <td><%= sanitize chemical.prodstatus.status.html_safe %></td>
        <td><%= sanitize chemical.date_modified.strftime("%B %-d, %Y").html_safe %></td>
        <td><%= sanitize chemical.supplier.supplier_name.html_safe %></td>

      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

