<%= form_with(model: invstatus, local: true) do |form| %>
  <% if invstatus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invstatus.errors.count, "error") %> prohibited this invstatus from being saved:</h2>

      <ul>
        <% invstatus.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_area :status, :required => true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
