<p id="notice"><%= notice %></p>

<h1>Invstatuses</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invstatuses.each do |invstatus| %>
      <tr>
        <td><%= sanitize invstatus.status.html_safe %></td>
        <td><%= link_to 'Show', invstatus %></td>
        <td><%= link_to 'Edit', edit_invstatus_path(invstatus) %></td>
        <td><%= link_to 'Destroy', invstatus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invstatus', new_invstatus_path %>
