<%= form_with(model: supporting_company, local: true) do |form| %>
  <% if supporting_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supporting_company.errors.count, "error") %> prohibited this supporting_company from being saved:</h2>

      <ul>
        <% supporting_company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :supportingcomp_name %>
    <%= form.text_field :supportingcomp_name %>
  </div>

  <div class="field">
    <%= form.label :supportingcomp_email %>
    <%= form.text_field :supportingcomp_email %>
  </div>

  <div class="field">
    <%= form.label :scpaymentinfo_id %>
    <%= form.collection_select :scpaymentinfo_id, Scpaymentinfo.all, :id, :account_name %>
  </div>

  <div class="field">
    <%= form.label :stlservice_id %>
    <%= form.collection_select :stlservice_id, Stlservice.all, :id, :service_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
