<%= form_with(model: supporting_company, local: true) do |form| %>
  <% if supporting_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supporting_company.errors.count, "error") %> prohibited this Supporting Company from being saved:</h2>

      <ul>
        <% supporting_company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :supportingcomp_name, 'Name:' %>
    <%= form.text_field :supportingcomp_name, :required => true %>
  </div>

  <div class="field">
    <%= form.label :supportingcomp_phone, 'Phone:' %>
    <%= form.text_field :supportingcomp_phone, :required => true %>
  </div>

  <div class="field">
    <%= form.label :supportingcomp_email, 'Email:' %>
    <%= form.email_field :supportingcomp_email, :required => true %>
  </div>

  <div class="field">
    <%= form.label :supportingcomp_address, 'Address:' %>
    <%= form.text_field :supportingcomp_address, :required => true %>
  </div>

  <h3>Services</h3>
  <div id='stlservices'>
    <%= form.fields_for :stlservices do |stlservice| %>
      <%= render 'stlservice_fields', :f => stlservice %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add a Service', form, :stlservices %>
    </div>
  </div>

  <h3>Payment Information</h3>
  <div id='scpaymentinfos'>
    <%= form.fields_for :scpaymentinfos do |scpaymentinfo| %>
      <%= render 'scpaymentinfo_fields', :f => scpaymentinfo %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add Payment Information', form, :scpaymentinfos %>
    </div>
  </div> 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
