<div class='nested-fields pt-2'>
    <div class="field">
        <%= f.label :service_name, "Service Name" %>
        <%= f.text_field :service_name, pattern: "[a-zA-Z0-9]+", :required => true %>
    </div>

    <div class="field">
        <%= f.label :service_description, "Description" %>
        <%= f.text_area :service_description, pattern: "[a-zA-Z0-9]+", :required => true %>
    </div>

    <div class="field">
        <%= f.label :service_cost, "Cost" %>
        <%= f.number_field :service_cost, step: 0.5; :required => true %>
    </div>

    <div class="field">
        <%= f.label :servcategory_id, "Service Category" %>
        <%= f.collection_select :servcategory_id, Servcategory.all, :id, :category, :required => true %>
    </div>

    <div class="field">
        <%= f.label :servstatus_id, "Service Status" %>
        <%= f.collection_select :servstatus_id, Servstatus.all, :id, :status, :required => true %>
    </div>
  
    <div class="field">
        <%= f.label :date_modified %>
        <%= f.date_select :date_modified, :required => true %>
    </div>

    <%= link_to_remove_association "Remove Service", f%>
</div>