<p id="notice"><%= notice %></p>

<p>
  <strong>Supportingcomp name:</strong>
  <%= sanitize @supporting_company.supportingcomp_name.html_safe %>
</p>

<p>
  <strong>Supportingcomp email:</strong>
  <%= sanitize @supporting_company.supportingcomp_email.html_safe %>
</p>

<p>
  <strong>Scpaymentinfo:</strong>
  <%= sanitize @supporting_company.scpaymentinfo.account_name.html_safe %>
</p>

<p>
  <strong>Stlservice:</strong>
  <%= sanitize @supporting_company.stlservice.service_name %>
</p>

<%= link_to 'Edit', edit_supporting_company_path(@supporting_company) %> |
<%= link_to 'Back', supporting_companies_path %>
