<p id="notice"><%= notice %></p>

<div class="subpage_header">
<h1>Clients</h1>
</div>

<%= search_form_for @search do |f|%>
  <div class="field">
    <%=f.label :client_fname_cont, "Name contains" %>
    <%=f.text_field :client_fname_cont %>
  </div>
  <div class="field">
    <%=f.label :client_lname_cont, "Last Name contains" %>
    <%=f.text_field :client_lname_cont %>
  </div>

  <div class="field">
    <%=f.label :employee_employee_fname_cont, "Employee Assigned contains" %>
    <%=f.text_field :employee_employee_fname_cont %>
  </div>

  <div class="actions"><%=f.submit "Search" %></div>
<%end %>


<table>
  <thead>
    <tr>
      <th><%= sort_link @search, :client_fname, "First Name" %></th>
      <th><%= sort_link @search, :client_lname, "Last Name" %></th>
      <th><%= sort_link @search, :client_email, "Email" %></th>
      <th><%= sort_link @search, :client_phonenumber, "Phone Number" %></th>
      <th><%= sort_link @search, :client_companyname, "Company Name" %></th>
      <th><%= sort_link @search, :client_shippingaddress, "Shipping Address" %></th>
      <th><%= sort_link @search, :client_billingaddress, "Billing Address" %></th>
      <th><%= sort_link @search, :employee_employee_fname, "Employee Assigned" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stlclients.each do |stlclient| %>
      <tr>
        <td><%= sanitize stlclient.client_fname.html_safe %></td>
        <td><%= sanitize stlclient.client_lname.html_safe %></td>
        <td><%= sanitize stlclient.client_email.html_safe %></td>
        <td><%= sanitize stlclient.client_phonenumber.html_safe %></td>
        <td><%= sanitize stlclient.client_companyname.html_safe %></td>
        <td><%= sanitize stlclient.client_shippingaddress.html_safe %></td>
        <td><%= sanitize stlclient.client_billingaddress.html_safe %></td>
        <td><%= sanitize stlclient.employee.employee_fname.html_safe %></td>
        <td><%= link_to 'Details', stlclient %></td>
        <td><%= link_to 'Edit', edit_stlclient_path(stlclient) %></td>
        <td><%= link_to 'Delete', stlclient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_stlclient_path %>
