<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employee_fname, 'First Name:' %>
    <%= form.text_field :employee_fname %>
  </div>

  <div class="field">
    <%= form.label :employee_lname, 'Last Name:' %>
    <%= form.text_field :employee_lname %>
  </div>

  <div class="field">
    <%= form.label :employee_email, 'Email' %>
    <%= form.email_field :employee_email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= form.label :employee_salary, 'Salary' %>
    <%= form.text_field :employee_salary %>
  </div>

  <div class="field">
    <%= form.label :employee_hiredate, 'Hire Date:' %>
    <%= form.date_select :employee_hiredate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
