<%= stylesheet_link_tag  "employees", :media => "all" %>

<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this Employee from being saved:</h2>

      <ul>
        <% employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container-md border border-primary pt-2 float-left rounded">
  <div class="p-2">
    <div class="field pt-2">
      <%= form.label :employee_fname, 'First Name:' %>
      <%= form.text_field :employee_fname, :required => true %>
    </div>

    <div class="field pt-2">
      <%= form.label :employee_lname, 'Last Name:' %>
      <%= form.text_field :employee_lname, :required => true %>
    </div>

    <div class="field pt-2">
      <%= form.label :employee_email, 'Email Address:' %>
      <%= form.email_field :employee_email, autofocus: true, autocomplete: "email", :required => true %>
    </div>

    <div class="field pt-2">
      <%= form.label :employee_salary, 'Salary:' %>
      <%= form.text_field :employee_salary, :required => true %>
    </div>

    <div class="field">
      <%= form.label :employee_hiredate, 'Hire Date:' %>
      <%= form.date_select :employee_hiredate, :required => true %>
    </div>

    <div class="d-flex p-2">
      <div class="actions">
        <%= form.submit "Save employee", :class=>"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<% end %>
