<p id="notice"><%= notice %></p>

<div class="subpage_header">
<h1>Employees</h1>
</div>

<table>
  <thead>
    <tr>
      <th><%= sortable "employee_fname", "First Name"%></th>
      <th><%= sortable "employee_lname","Last Name"%></th>
      <th><%= sortable "employee_email", "Email"%></th>
      <th><%= sortable "employee_salary", "Salary"%></th>
      <th><%= sortable "employee_hiredate", "Hire Date"%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= sanitize employee.employee_fname.html_safe %></td>
        <td><%= sanitize employee.employee_lname.html_safe %></td>
        <td><%= sanitize employee.employee_email.html_safe %></td>
        <td><%= sanitize number_to_currency(employee.employee_salary) %></td>
        <td><%= sanitize employee.employee_hiredate.strftime("%B %-d, %Y").html_safe %></td>
        <td><%= link_to 'Details', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
