<%= stylesheet_link_tag  "products", :media => "all" %>

<%= form_with(model: stlservice, local: true) do |form| %>
  <% if stlservice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stlservice.errors.count, "error") %> prohibited this Service from being saved:</h2>

      <ul>
        <% stlservice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container-md border border-primary pt-2 float-left rounded">
  <div class="p-2">
      <div class="field pt-2">
        <%= form.label :service_name, "Name:" %>
        <%= form.text_field :service_name, maxlength: 30, size: 20, :required => true %>
      </div>

      <div class="field pt-2">
        <%= form.label :service_description, "Description:" %>
        <%= form.text_area :service_description, maxlength: 140, :required => true %>
      </div>

      <div class="field pt-2">
        <%= form.label :service_cost, "Cost:" %>
        <%= form.number_field :service_cost, min: 0, step: 0.01, :required => true %>
      </div>

      <div class="field pt-2">
        <%= form.label :servcategory_id, "Category:" %>
        <%= form.collection_select :servcategory_id, Servcategory.all, :id, :category, :required => true %>
      </div>

      <div class="field pt-2">
        <%= form.label :servstatus_id, "Status:" %>
        <%= form.collection_select :servstatus_id, Servstatus.all, :id, :status, :required => true %>
      </div>

      <div class="field pt-2">
        <%= form.label :supporting_company_id %>
        <%= form.collection_select :supporting_company_id, SupportingCompany.all, :id, :supportingcomp_name, :required => true %>
      </div>

    <div class="d-flex p-2">
      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>
</div>
<% end %>
