<p id="notice"><%= notice %></p>

<div class="subpage_header">
<h1>Product</h1>
</div>

<table>
<tr>
<p>
  <strong>Name:</strong>
  <%= sanitize @product.product_name.html_safe %>
</p>
</tr>
<tr>
<p>
  <strong>Description:</strong>
  <%= sanitize @product.product_description.html_safe %>
</p>
</tr>
<tr>
<p>
  <strong>Cost:</strong>
  <%= sanitize number_to_currency @product.product_cost %>
</p>
</tr>
<tr>
<p>
  <strong>Category:</strong>
  <%= sanitize @product.prodcategory.category %>
</p>
</tr>
<tr>
<p>
  <strong>Status:</strong>
  <%= sanitize @product.prodstatus.status %>
</p>
</tr>
<tr>
<p>
  <strong>Date Modified:</strong>
  <%= sanitize @product.date_modified.strftime("%B %-d, %Y") %>
</p>
</tr>
<tr>
<p>
  <strong>Supplier:</strong>
  <%= sanitize @product.supplier.supplier_name.html_safe %>
</p>
</tr>
</table>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
