<p id="notice"><%= notice %></p>

<div class="subpage_header">
<h1>Suppliers</h1>
</div>

<p>
  <strong>Supplier Name:</strong>
  <%= sanitize @supplier.supplier_name.html_safe %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= sanitize @supplier.supplier_phone %>
</p>

<p>
  <strong>Email Address:</strong>
  <%= sanitize @supplier.supplier_email.html_safe %>
</p>

<p>
  <strong>Supplier Address:</strong>
  <%= sanitize @supplier.supplier_address.html_safe %>
</p>

<p>
<h3>Products</h3>
<table>
  <tr>
    <th>Product Name</th>
    <th>Description</th>
    <th>Cost</th>
    <th>Product Category</th>
    <th>Product Status</th>
    <th>Date Modified</th>

  </tr>
  <% @supplier.products.each do |product| %>
    <tr> <td><%= sanitize product.product_name.html_safe %></td>
      <td> <%= sanitize product.product_description.html_safe  %></td>
      <td> <%= sanitize number_to_currency product.product_cost %></td>
      <td> <%= sanitize product.prodcategory.category.html_safe %></td>
      <td> <%= sanitize product.prodstatus.status.html_safe %></td>
      <td> <%= sanitize product.date_modified.strftime("%B %-d, %Y").html_safe %></td>

    </tr>
  <% end %>
</table>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
